body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #f0f5ff; /* لون خلفية الصفحة */
}

.container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #d9e6ff; /* لون خلفية الجداول */
}

table, th, td {
    border: 1px solid #b3ccff; /* لون حدود الجداول */
}

th, td {
    padding: 8px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #4d94ff; /* لون خلفية الأزرار */
    color: #fff; /* لون الخط للأزرار */
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #3385ff; /* لون خلفية الأزرار عند التحويم */
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab-buttons {
    margin-bottom: 20px;
}

.tab-buttons button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #4d94ff; /* لون خلفية أزرار التبويب */
    color: #fff; /* لون الخط لأزرار التبويب */
    border: none;
    border-radius: 5px;
}

.tab-buttons button:hover {
    background-color: #3385ff; /* لون خلفية أزرار التبويب عند التحويم */
}

.time-input {
    display: inline-block;
    width: 50px;
}

h1, h2, h3 {
    color: #3366ff; /* لون عناوين الصفحة */
}

@media screen and (max-width: 600px) {
    table {
        font-size: 12px; /* حجم الخط في الجدول عند العرض الصغير */
    }

    .time-input {
        width: 40px; /* عرض حقول إدخال الوقت عند العرض الصغير */
    }
}
